<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mensaje del Serivdor {{ title }}</title>
</head>
<body>
	<h1> Voto Registrado con Éxito {{ title }}</h1>
	<p> Id: {{ voto.id }}
	<p> Codigo Respuesta: {{ voto.codigoRespuesta }}
	<p> Marca Tiempo : {{ voto.marcaTiempo }}
	<p> Id Circunscripcion : {{ voto.idCircunscripcion }}
	<p> Id Mesa Electoral : {{ voto.idMesaElectoral }}
	<p> Id Proceso Electoral : {{ voto.idProcesoElectoral }}
	<p> Nombre Candidato Votado: {{ voto.nombreCandidatoVotado }}
</body>
</html>
